.offer {


    &__elem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;

        @media (max-width: 576px) {
            flex-direction: column;
            
            max-width: 80%;
            margin: auto;
            padding: 80px 0;
        }

        &:nth-child(2) .offer__desc {

            @media (max-width: 576px) {
                display: none;
            }
        }
    }

    &__desc {
        max-width: 50%;


        &--mob {
            display: none;
            text-align: center;
            @media (max-width: 576px) {
                display: block;
            }
        }

        

        @media (max-width: 576px) {
            max-width: 90%;
            text-align: center;
            
        }
        &--smaller {
            max-width: 40%;
            @media (max-width: 576px) {
                max-width: 90%;
            } 
        }
    }

    

    &__text {
        padding: 50px 0;
        color: #5c5c5c;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 1.5;
    }


    &__button {
        
        @media (max-width: 576px) {
            display: none;
        }

        &--mob {
            max-width: 100%;
            margin-bottom: 15px;
            

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--minor {
            color: #30D7BA;
           background-color: transparent; 
           border: 1px solid #30D7BA;
           

        }

        
    }
}